{% extends 'base.html' %}

{%block content%}



<form action="display">	
	<input type="submit" value="Display"><br>
<table border="1">
					<tr>
					<td>Empid</td><td>Name</td><td>Address</td>
					</tr>
					{% for i in emp %}
					<tr>
						<td>{{i.id}}</td>
						<td>{{i.name}}</td>
						<td>{{i.address}}</td>
					</tr>
					{% endfor %}
					
				</table><br>
				
</form>


<form action="add" method="Post">
	{%csrf_token%}

   Name: 	<input type="text" name="name"><br>
Address:	<input type="text" name="address"><br>
<input type="submit" value="Add Employee"><br>


<p>
      {{msg}}<br>
      

   </p>
</form>

<form action="del" method="POST">
	{%csrf_token%}

   Name to delete: 	<input type="text" name="name"><br>
<input type="submit" value="Delete"><br>
{{msg}}
</form>

<form action="update" method="Post">
	{%csrf_token%}

  Old Name: 	<input type="text" name="oldname"><br>
Newname:	<input type="text" name="newname"><br>
<input type="submit" value="Update Employee"><br>


<p>
      {{msg1}}<br>
      

   </p>
</form>












<form action="create" method="POST">
	{%csrf_token%}

   Name: 	<input type="text" name="name1"><br>
Address:	<input type="text" name="address1"><br>
	<input type="submit" value="Create"><br>


<p>
      {{msg1}}
    

   </p></form>



   
{%endblock%}


















Queryset
emp=[<obj1>,<obj2>,<obj3>]

	for i in emp:
		{{i.name}}
		{{i.address}}

